{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="https://kit.fontawesome.com/fbe819dd43.js" crossorigin="anonymous"></script>
<script src="script.js"></script>
<style>
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#d7dfee;
  {% comment %} background-image: url('static/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat; {% endcomment %}
}

.crm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* other */
.info {
  text-align: justify;
}

p {
  color: #2e2e2e;
  margin-bottom: 20px;
}


/* block-$ */
.block-effect {
  font-size: calc(2px + 3vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  font-size: 16px;
}
.crm.d-flex {
  display: flex;
  flex-direction: row;
}
.footer {
  width: 100%;
  background-color: #333;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}
.footer .col h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 17px;
  padding: 10px 0;
  color: #e900fa;
  text-transform: uppercase;
}
.footer .col ul {
  list-style-type: none;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 12px;
  padding: 5px 0px;
}
.address ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  cursor: pointer;
  color: lightgray;
  font-weight: bold;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .address {
    width: 1000px;
    display: block;
  }
  .address h2 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h2 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h2 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$timing        : 265ms;
$iconColor     : #00B5F5;
$accent        : #002A8F;
$bluefade      : #0043E0;
$gradient      : #00B5F5;

@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}

.social-icons {
  display: flex;
    list-style: none;
    
  
    .sli {
        align-items: center;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;

    }

    i {
        color: #fff;
        position: absolute;
        top: 15px;
        left: 10px;
        transition: all 265ms ease-out;
    }

    a {
        display: inline-block;
      
        &:before {
            @include transformScale();
            content: " ";
            width: 30px;
            height: 30px;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, #00B5F5, #002A8F);
            transition: all 265ms ease-out;
        }
        
        &:hover:before {
            transform: scale(0);
            transition: all 265ms ease-in;
        }
        
        &:hover i {
            @include transformScale(2.2);
            color: #00B5F5;
            background: -webkit-linear-gradient(45deg, #00B5F5, #002A8F);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 265ms ease-in;
        }
    }
  
}
  .head{
    height: 50vh;
    text-align:center;.
    background: rgb(200,238,226);
    background: linear-gradient(90deg, rgba(200,238,226,1) 40%, rgba(207,220,191,1) 57%, rgba(127,231,167,1) 100%);
  }

  .heading {
    {% comment %} margin-top:70px; {% endcomment %}
    {% comment %} text-align:center; {% endcomment %}
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .sub-heading {
    {% comment %} text-align:center; {% endcomment %}
    font-size: 20px;
    line-height: 1.5;
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.ftr {
  display: flex;
  align-items: center; /* Align items vertically */
}

.fcn {
  flex: 1; /* Allow the container to grow to fill available space */
}

.ftr > div{
  flex: 1; /* Allow the container to grow to fill available space */
}

@media (max-width: 768px) {
  .ftr{
      flex-direction: column;
  }

  .text-container {
      text-align: center;
  }
}

.text-container {
  flex: 1; /* Allow the text container to grow to fill available space */
  padding-left: 0px; /* Adjust as needed */
}

h2 {
  color: #1e416c;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  {% comment %} text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); {% endcomment %}
  letter-spacing: 1px;
  font-family: 'Baloo Tamma', cursive;
  transition: 4s;
  text-shadow: -1px -1px 0px #d7dfee,
    1px 1px 0px #d7dfee,
    2px 2px 0px #00000055;
}
.card{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  background-color:#b0f5d6;
  border-radius:10px;
  transition: transform 0.2s ease-in-out; 
}
.card:hover {
  transform: scale(1.05); /* Scale the card on hover */
}
.card-body {
  padding: 10px; /* You can adjust this value to reduce the gap */
}

.card-title {
  margin-bottom: 5px; /* You can adjust this value to reduce the gap */
}
.fpic {
  display: flex;
  {% comment %} justify-content: space-between; {% endcomment %}
  {% comment %} align-items: center; {% endcomment %}
}

.fpic > div {
  flex: 1;
}

.feature {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .fpic{
      flex-direction: column;
  }

  .feature {
      text-align: center;
  }
}

{% comment %} .page-banner {
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 320px;
  background-color: #F6F5FC;
  color: #645F88;
  border-radius: 30px;
  z-index: 10;
}

.page-banner.home-banner {
  height: auto;
}

.page-banner.home-banner .img-fluid {
  max-width: 400px;
  margin: 0 auto;
}

.page-banner.home-banner .btn-scroll {
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  margin: auto;
  width: 26px;
  height: 40px;
  line-height: 44px;
  background-color: #fff;
  color: #645F88;
  text-align: center;
  border-radius: 40px;
  box-shadow: 0 2px 6px rgba(100, 95, 136, 0.24);
  transition: all .2s ease;
}

.page-banner.home-banner .btn-scroll:hover {
  text-decoration: none;
  background-color: #6C55F9;
  color: #fff;
}

@media (min-width: 768px) {
  .page-banner.home-banner {
    height: 540px;
  }
}

.page-hero.overlay-dark::before,
.page-banner.overlay-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 53, 49, 0.7);
  z-index: 1;
}

.page-banner .breadcrumb-item,
.page-banner .breadcrumb-item a {
  font-size: 14px;
}

.home-banner .row > *:first-child {
  padding-left: 8%;
}


.btn-split {
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
}
.btn-split .fab {
  display: inline-block;
  margin-left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  background-color: #fff;
  color: #6C55F9;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}

@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInLeft {
  -webkit-animation-name: zoomInLeft;
  animation-name: zoomInLeft;
}

@-webkit-keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInRight {
  -webkit-animation-name: zoomInRight;
  animation-name: zoomInRight;
}

@-webkit-keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInUp {
  -webkit-animation-name: zoomInUp;
  animation-name: zoomInUp;
} {% endcomment %}
button:hover{
  background:white;
}

.page-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #898798;
  overflow: hidden;
}
.card-service {
  display: block;
  margin: 16px auto;
  padding: 32px 20px;
  max-width: 300px;
  text-align: center;
  color: #898798;
  border-radius: 8px;
  box-shadow: 0 3px 12px rgba(95, 92, 120, 0.12);
}

.card-service .header {
  margin-bottom: 24px;
}
</style>
<body>
    {% comment %} <div class="container">
      <div class="page-banner home-banner">
        <div class="row align-items-center flex-wrap-reverse h-100">
          <div class="col-md-6 py-5 wow fadeInLeft">
            <h3 class="mb-4 heading">Sell Smarter and Faster</h3>
            <p class="text-lg text-grey mb-5 sub-heading">Transform your sales with the world’s No.1 CRM solution.</p>
            <a href="#" class="btn btn-primary btn-split">Get Started <div class="fab"><span class="mai-play"></span></div></a>
          </div>
          <div class="col-md-6 py-5 wow zoomIn">
            <div class="img-fluid text-center image-responsive">
              <img src="{% static "images/crmft.png" %}" height="300vh" width="100%" alt="">
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
        <div class="head" style="border-bottom-right-radius:100%;">
          <h3 class="heading">Sell Smarter and Faster</h3>
          <p class="sub-heading">Transform your sales with the world’s No.1 CRM solution.</p>
          <p class="sub-heading">Interpersonal Synergy Suite: Elevating Engagement and Empowering Connections</p>
          {% comment %} <p style="color:green;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">Crafting Connections and Cultivating Relationships</p> {% endcomment %}
          <button class="btn btn-primary" style="background-color:#129930;width:200px;transition: 1s;"><b>Get Started</b></button><br><br><br><br>
        </div>
        <br><br>
      <div class="crm d-flex">
        <h1 class="block-effect" style="--td: 1.2s">
            <div class="block-reveal" style="--bc: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,97,121,1) 35%, rgba(0,212,255,1) 100%);; --d: .1s">What is CRM?</div>
        </h1>
    
        <div class="info w-75">
            <p><i>Customer Relationship Management (CRM) is a strategic approach that businesses employ to manage 
                interactions and relationships with both current and potential customers. It encompasses various tools,
                technologies, and methodologies aimed at streamlining processes, analyzing customer data, and improving
                overall customer satisfaction and loyalty. CRM systems typically centralize customer information, 
                allowing businesses to track interactions across multiple channels such as email, phone, social media,
                and in-person interactions. By leveraging CRM, organizations can gain insights into customer behaviors,
                preferences, and needs, enabling personalized communication and targeted marketing efforts. Ultimately, 
                CRM facilitates better customer engagement, retention, and ultimately, business growth.</i></p>
        </div>
    </div><br>

    <div class="container heading">
      <h1 style="text-align:center;"><i>Learn More About CRM...</i></h1>
    </div>

    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card-service wow fadeInUp" style="background-color:white;">
              <div class="header">
                <iframe style="border-radius:10px;" width="250" height="215" src="https://www.youtube.com/embed/sQD7kaZ5h0s?si=_xBG8jQc3HtogH8o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                {% comment %} <img src="{% static "images/sale.png" %}" height="100vh" width="100%" alt=""> {% endcomment %}
              </div>
              <div class="body">
                <h5 class="text-secondary">What is CRM?</h5>
                <p>What is Customer Relationship Management</p>
                <a href="service.html" class="btn btn-primary">Watch More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card-service wow fadeInUp" style="background-color:white;">
              <div class="header">
                <iframe style="border-radius:10px;" width="250" height="215" src="https://www.youtube.com/embed/ti5hVZ6BrA8?si=OqkzotBWAM5aee3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                {% comment %} <img src="{% static "images/ts.jpg" %}" height="100vh" width="100%" alt=""> {% endcomment %}
              </div>
              <div class="body">
                <h5 class="text-secondary">Process of CRM!!!</h5>
                <p>Process of Customer Relationship Management</p>
                <a href="service.html" class="btn btn-primary">Watch More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card-service wow fadeInUp" style="background-color:white;">
              <div class="header">
                <iframe style="border-radius:10px;" width="250" height="215" src="https://www.youtube.com/embed/mUf7JRPFAkE?si=DHb_qx6j1BXxAOdY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                {% comment %} <img src="{% static "images/mrkt.webp" %}" height="100vh" width="100%" alt=""> {% endcomment %}
              </div>
              <div class="body">
                <h5 class="text-secondary">Types of CRM!!!</h5>
                <p>Customer Relationship Management Types</p>
                <a href="service.html" class="btn btn-primary">Watch More</a>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .container -->
    </div>

    <div class="display-flex fpic container" style="background-color:white;border:box;box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);border-radius:10px;">
      <div class="" style="">
        <img class="d-block fimg image-responsive mt-5" width='100%' height='350vh' src="{% static "images/crmm.png" %}">
      </div>
      <div style="">
        <div class="feature mt-5">
            <h2>Sales</h2>
            <p>Track leads, manage contacts, and streamline your sales process with our CRM's sales management tools.</p>
        </div>
        <div class="feature">
            <h2>Customer Service</h2>
            <p>Deliver exceptional customer service experiences by managing support tickets, customer interactions, and feedback efficiently.</p>
        </div>
        <div class="feature">
            <h2>Technical Support</h2>
            <p>Resolve technical issues promptly and effectively by tracking tickets, managing resources, and providing comprehensive technical support.</p>
        </div>
        <div class="feature">
            <h2>Marketing</h2>
            <p>Drive targeted marketing campaigns, track campaign performance, and analyze customer behavior to optimize marketing strategies.</p>
        </div>
      </div>
    </div><br><br>
    <div style="border-bottom-left-radius:50%; border-top-right-radius:50%;background: rgb(200,238,226);background: linear-gradient(90deg, rgba(200,238,226,1) 40%, rgba(207,220,191,1) 57%, rgba(127,231,167,1) 100%);">
      <div class="display-flex container ftr">
        <div class="container fcn">
          <img class="d-block fimg image-responsive" width='80%' height='300vh' src="{% static "images/crmf.png" %}">
        </div>
        <div class="text-container mt-5">
          <h2>Features</h2>
          <h5>Focused Client Relationship Management Capabilities</h5>
        </div>
      </div><br>
      <br>
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="card-container">
                <div class="card">
                  <div class="card-inner">
                    <div class="card-front">
                      <div class="card-body">
                        <h5 class="card-title">Enable Automation</h5>
                      </div>
                    </div>
                    <div class="card-back">
                      <div class="card-body">
                        <p class="card-text">Automate lead creation, team assignment, scheduled activities, and focus on what really matters.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><br>
        
        
            <div class="col-md-6">
              <div class="card-container">
                <div class="card">
                  <div class="card-inner">
                    <div class="card-front">
                      <div class="card-body">
                        <h5 class="card-title">AI lead scoring</h5>
                      </div>
                    </div>
                    <div class="card-back">
                      <div class="card-body">
                        <p class="card-text">Too many leads? Our AI scores leads to ensure you always work on the right priorities.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><br>
        
          </div>
        </div>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="card-container">
                <div class="card">
                  <div class="card-inner">
                    <div class="card-front">
                      <div class="card-body">
                        <h5 class="card-title">Reduce manual entry</h5>
                      </div>
                    </div>
                    <div class="card-back">
                      <div class="card-body">
                        <p class="card-text">Send quotes in just a few clicks, manage your pipeline by drag-and-dropping, and more.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><br>
        
        
            <div class="col-md-6">
              <div class="card-container">
                <div class="card">
                  <div class="card-inner">
                    <div class="card-front">
                      <div class="card-body">
                        <h5 class="card-title">Manage leads</h5>
                      </div>
                    </div>
                    <div class="card-back">
                      <div class="card-body">
                        <p class="card-text">Create, acquire, import, nurture, score, etc. Manage all aspects of your leads in a single place.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </div>
      </div><br><br><br><br>
    </div>
    <footer style="margin-top: 100px;">
      <div class="footer">
        <div class="contain">
        <div class="col">
          <h3>Company</h3>
          <ul>
            <li>About us</li>
            <li> Our Mission</li>
            <li>Services</li>
          </ul>
        </div>
        <div class="col address">
          <h3>Address</h3>
          <ul>
            <li>Kakkanad, Cochin</li>
        </ul>
        </div>
        <div class="col">
          <h3>Latest News</h3>
          <ul>
              <li>Blog Updates</li>
              <li>Industry Insights</li>
              <li>Company Announcements</li>
          </ul>
      </div>
        <div class="col">
          <h3>Contact</h3>
          <ul class="social-icons">
            <li class="sli"><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li class="sli"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="sli"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col">
          <h3>Privacy Policy</h3>
          <ul>
              <li>Data Protection</li>
              <li>Terms of Use</li>
              <li>Cookie Policy</li>
          </ul>
      </div>
        <div class="col">
          <h3>FAQ</h3>
          <ul>
              <li>Common Questions</li>
              <li>Help Center</li>
              <li>Contact Support</li>
          </ul>
        </div>
      <div class="clearfix"></div>
      </div>
      </div>
    </footer>

</body>
{% endblock %}